﻿<!DOCTYPE html>
<html>
<head>
    <title>GisProjekt</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASIt2d4Os1mmGF8d6mCmDU7ifWIvKN3nQ&callback=initMap"
            async defer></script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div id="map"></div>
<script>
    var map;

    function initMap() {
        var wspolrzedne = new google.maps.LatLng(52.22207512938468, 21.006942987442017);
        var opcjeMapy = {
            zoom: 18,
            center: wspolrzedne,
        };
        map = new google.maps.Map(document.getElementById("map"), opcjeMapy);

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var latlon = position.coords.latitude + "," + position.coords.longitude;
                console.log('Twoje położenie: ', latlon);
                map.setCenter({ lat: position.coords.latitude, lng: position.coords.longitude });
            });
        }
    }
</script>
</body>
</html>